html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* by Ville Peurala */

html {
  font-family: 'Vollkorn', serif;
  font-size: x-large;
  font-synthesis: weight style;
}

body {
  color: rgba(240, 240, 12, 0.9);
  background-color: rgba(88, 27, 0, 0.8);
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

div.blurp {
  text-align: center;
  display: inline-block;
  max-width: 60%;
  font-weight: bold;
}

.blurp-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* unvisited link */
a.etasku-link:link {
  color: rgba(48, 255, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}

/* visited link */
a.etasku-link:visited {
  color: rgba(60, 255, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}

/* mouse over link */
a.etasku-link:hover {
  color: rgba(160, 255, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}

/* selected link */
a.etasku-link:active {
  color: rgba(60, 255, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}

/* unvisited link */
a.main-link:link {
  color: rgba(255, 0, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}

/* visited link */
a.main-link:visited {
  color: rgba(255, 30, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}

/* mouse over link */
a.main-link:hover {
  color: rgba(255, 50, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}

/* selected link */
a.main-link:active {
  color: rgba(255, 70, 32, 1.0);
  text-shadow: 2px 2px 2px black;
}
